body {
  background-color: #333;
}
a {
  color: #696969;
  text-decoration: none;
}
video,
canvas {
  position: absolute;
  align-items: center;
  width: 430px;
  height: 305px;
  padding: 40px;
  border: 1px solid #696969;
  border-radius: 20px;
}
.imgs {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #696969;
  border-radius: 20px;
  margin: 10px;
}
.imgs:hover {
  border: 1px solid #c0c0c0;
}
.imgs:active,
.imgs:focus {
  border: 1.5px solid #c0c0c0;
  outline: 0;
}
.contentImgs {
  text-align: center;
  padding-top: 100px;
}
#content {
  width: 400px;
  height: 305px;
  margin: 0 auto;
  display: block;
}
